@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ff4f4f;
  --foreground: #ff4f4f;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ff4f4f;
    --foreground: #ff4f4f;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@media only screen and (max-width: 1024px) {
  *::-webkit-scrollbar {
  display: none;
}
}